TWITCH_CLIENT_ID=replace_with_your_client_id
TWITCH_CLIENT_SECRET=replace_with_your_client_secret

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=replace_with_your_mysql_password
DB_NAME=data_dogs

TOTAL_GAMES=1500
